@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 50px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: lightgray;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

main {
    background-color: white;
    border-radius: 20px;
    width: 350px;
    height: 600px;
}

img {
    display: block;
    margin: 20px auto;
    width: 90%;
    border-radius: 1rem;
}

h1 {
    margin: 10px 0;
    padding: 0 20px;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    margin: 40px 40px;
}